// $primary-color: #fff ;
$secondary-color: #ccc;
$text-color: #242424;
$background-color: #f9f9f9;
$font-stack: 'Montserrat', serif;
$border: 4px solid $text-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

@mixin flex-center($position, $direction) {
  display: flex;
  align-items: center;
  justify-content: $position;
  flex-direction: $direction;
}

%btn-properties {
  color: $text-color;
  font-weight: bolder;
  padding: 0.2rem 0.5rem;
  outline: none;
  border: $border;
  border-width: 3px;
  box-shadow: 4px 4px 2.5px 3px #1b1b1be3;
}