@media screen and (min-width: 480px) {

  main {

    .header {
  
      .crown {
        width: 45px;
        height: 45px;
        margin-right: 7%;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header {
  
      .crown {
        width: 45px;
        height: 45px;
        margin-right: 20%;
      }
    }
  }

  section {
    @include flex-center(flex-start, space-around);

    flex-direction: row;

    .score-container {
      width: 47%;

      i {
        padding-left: 0.5rem;
      }
    }

    .form-contain {
      @include flex-center(flex-start, space-between);

      width: 33%;
    }
  }
}
