@import 'config';

body {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 26, 77);
}

main {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  border: 4px;
  // border: $border;
  // box-shadow: 2px 2px 5px 3px #000;
  background-image: linear-gradient(to bottom, rgba(33, 17, 90, 0.18), rgb(70, 43, 133)), url('../img/backg.jpg');
}

.score-container li img {
  width: 30px;
  height: 30px;
  border-radius: 50% 50%;
  margin-right: 0.7rem;
}

.header {
  @include flex-center(center, space-between );

  flex-wrap: wrap;
  padding: 1.4rem 1rem;

  h1 {
    font-size: 2.4rem;
    color: $secondary-color;
  }

  .crown {
    width: 45px;
    height: 45px;

    img {
      width: 100%;
    }
  }
}

section {
  @include flex-center(center, space-around );

  flex-direction: column;

  i {
    color: $text-color;
  }

  h2 {
    font-size: 1.8rem;
    color: $primary-color;
    font-family: $font;

    span {
      padding-right: 0.3rem;
      font-family: $font;
      font-size: 1.8rem;
    }
  }

  button {
    @extend %btn-properties;
  }

  .score-container {
    @include flex-center(center, space-between);

    flex-direction: column;
    width: 90%;

    .score-title {
      @include flex-center(flex-start, space-between);

      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 280px;
      width: 100%;
      min-height: 173px;
      list-style: none;
      border: $border;
      box-shadow: 0 35px 60px 0 rgb(0 0 0 / 25%), inset -4px 0 12px 0 rgb(8 8 8 / 25%), inset 6px 0 12px 0 rgb(0 0 0 / 25%), inset 0 -10px 14px 0 rgb(3 3 3 / 40%);
      margin: 2rem 0;
    }

    li {
      @include flex-center(center, space-between);

      padding: 0.75rem;
      color: $text-color;
      font-size: 1.1rem;
      font-weight: bolder;
      border-radius: 8px;
      // box-shadow: 0 35px 60px 0 rgb(0 0 0 / 25%), inset -4px 0 12px 0 rgb(8 8 8 / 25%), inset 6px 0 12px 0 rgb(0 0 0 / 25%), inset 0 -10px 14px 0 rgb(3 3 3 / 40%);

      &:nth-child(even) {
        background-color: rgb(58 0 144);
      }

      &:nth-child(odd) {
        background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7));
      }

      .person {
        @include flex-center(center, center);
      }

      span {
        color: $secondary-color;
      }
    }
  }

  .form-contain {
    @include flex-center(center, space-between);

    flex-direction: column;
    width: 90%;
  }

  .form-title {
    width: 100%;
  }

  form {
    width: 100%;
    margin: 1rem 0;

    & > div {
      margin: 1rem 0;
    }

    input {
      width: 100%;
      padding: 0.6rem;
      color: $text-color;
      font-size: 1rem;
      font-weight: bolder;
      outline: none;
      border: $border;
      background-color: rgb(58 0 144);
      border-radius: 4px;

      &::placeholder {
        color: $secondary-color;
        font-weight: bolder;
      }

      &:focus {
        color: $text-color;
        // background-color: rgba(58, 0, 144, 0.718);
        background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7));
      }
    }
  }
}

@import 'responsive';
